@model Ivap.ViewModel.ChangePasswordVM
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="panel panel-default">
        <div class="panel-heading"><h2>Change Password</h2></div>
        <div class="panel-body">

            <div class="TextBoxMainOuter">
                <div class="clear10"></div>
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">  </div>

                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="validationmsg">
                                    <input type="hidden" name="UserName" value="Ajeetkr" />
                                    @Html.ValidationSummary(true)
                                </div>
                            </div>
                            <div class="clear10"></div>
                            <div class="col-md-12 col-sm-12 col-xs-12">

                                <div class="TextBoxMainMain">
                                    @*<input class="effect-16" type="password" placeholder="">*@
                                    @Html.PasswordFor(m => m.Password, new {@class="effect-16"})
                                    
                                    <label>Your Current Password</label>
                                </div>
                                <p class="Textred">@Html.ValidationMessageFor(m => m.Password)</p>
                            </div>
                            <div class="clear10"></div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="TextBoxMainMain">
                                    @Html.PasswordFor(m => m.NewPassword, new { @class = "effect-16" })
                                    <label>New Password</label>
                                </div>
                                <p class="Textred">@Html.ValidationMessageFor(m => m.NewPassword)</p>
                            </div>
                            <div class="clear10"></div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="TextBoxMainMain">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "effect-16" })
                                    <label>Retype Password</label>
                                </div>
                                <p class="Textred">@Html.ValidationMessageFor(m => m.ConfirmPassword)</p>
                            </div>
                        </div>
                        <div class="clear20"></div>
                        <input type="submit" class="btn btn-primary BtnBlueLg BtnWidth150" value="Update Changes" />
                        <div class="clear20"></div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="forgot-Password"> <a href="/ForgotPassword" target="_blank">Forgotten Password?</a> </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12"></div>
                </div>
            </div>

            <div class="clear40"></div>
        </div>
    </div>
}
@section scripts {
    @Scripts.Render("~/Scripts/commanscript")
}





